/** @format */

/* UTILITIES */
/* Color variables */
:root {
  --primary-color: #62056b;
  --primary-dark: #56035e;
  --primary-darker: #490150;
  --secondary-color: #2f8fa5;
  --tan-color: #f2d0a4;
  --light-grey: #f6f6f6;
}

/* Reset of margins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  background: rgb(0, 0, 0);
  height: 200vh;
}

/* Normal pages background */
section {
  background-color: var(--light-grey);
}

.wrapper {
  display: block;
  margin: auto;
  overflow: hidden;
  max-width: 1600px;
  background: #fff;
  height: 100%;
  padding: 1rem 2.5rem 4rem;
  color: #333;
}

.btn {
  display: inline-block;
  padding: 1.5rem 3rem;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 1.5rem;
  background: var(--primary-color);
  color: #fff;
}
.btn:hover {
  background: var(--primary-dark);
}
.btn:active {
  background: var(--primary-darker);
}

.box {
  height: 500px;
  width: 340px;
  background: #f3f1f1;
  border-top: 0.5rem solid #92558a;
}

/* LANDING PAGE */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  height: 100vh;
}

/* Landing page content */
.header-content h1 {
  transform: translate(-12rem, -4rem);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4.8rem;
  text-align: end;
}
.header-content .btn {
  transform: translate(-3.5rem, -4rem);
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Overlayes the background image to the header */
header::after {
  content: "";
  background: url("https://source.unsplash.com/uNQ-TTg_qNY/1600x900") no-repeat
    center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 90%;
  z-index: -1;
  opacity: 0.9;
}

/* NAVIGATION BAR */
.navbar {
  z-index: 9001;
  display: flex;
  width: 100%;
  /* Navbar color */
  background: url(Navigation\ bar.svg) no-repeat center center/cover;
  height: 100px;
  position: fixed;
  top: 0px;
  transition: 0.3s ease-in;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.navbar.hidden {
  background: transparent;
}
.navbar ul {
  display: flex;
  padding: 30px 0;
  flex-wrap: wrap;
  align-items: center;
}
nav {
  display: flex;
  padding: 0px 3rem;
  width: 100%;
  justify-content: flex-end;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  cursor: pointer;
  padding: 18px 30px;
  font-size: 1.07rem;
  font-weight: 200;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  font-family: "Open Sans", sans-serif;
}
nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  margin-top: 0.4rem;
  transition: width 0.2s;
}
nav ul li a:hover::after {
  content: "";
  display: block;
  width: 105%;
  height: 3px;
  background: var(--secondary-color);
}

/* MEMBERSHIP PAGE */
.membership-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 2.2rem;
}
.membership-bottom {
  margin-top: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.membership-bottom .box {
  display: flex;
}

#image-2 {
  transform: translate(-1.4rem, 2.2rem);
}
#image-3 {
  transform: translateY(2.6rem);
}
